<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="allen" class="com.argus.web.v3.idol.JugglerImpl">
        <!--通过构造器注入-->
        <constructor-arg value="15"/>
    </bean>


    <bean id="poem" class="com.argus.web.v3.idol.PoemServiceImpl">

    </bean>

    <bean id="bonnie" class="com.argus.web.v3.idol.PoeticJugglerImpl">
        <constructor-arg value="15"/>
        <constructor-arg ref="poem"/>
    </bean>

    <bean id="stage" class="com.argus.web.v3.idol.Stage" factory-method="getInstance"/>


    <!-- 开启bean自动装配,需要显示定义<bean> -->
    <context:annotation-config/>

    <!--自动检测标注bean
        @Component
        @Controller
        @Repository
        @Service
    -->
    <context:component-scan base-package="com.argus.web"/>


    <bean id="audience" class="com.argus.web.v3.idol.Audience"/>

    <aop:config>
        <!--定义一个切面-->
        <aop:aspect ref="audience">
            <aop:pointcut id="performance"
                          expression="execution(* com.argus.web.v3.idol.PerformerService.perform(..))"/>

            <aop:before method="takeSeats"
                        pointcut="execution(* com.argus.web.v3.idol.PerformerService.perform(..))"/>
            <aop:after-returning
                        method="applaud"
                        pointcut-ref="performance"/>
            <aop:after-throwing
                    method="demandRefund"
                    pointcut-ref="performance"/>

            <aop:around method="watchPerformance"
                        pointcut-ref="performance"/>

        </aop:aspect>


    </aop:config>



</beans>